In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
df=pd.read_csv("Expresso_churn_dataset.csv")

In [2]:
df.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,NO,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,NO,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,NO,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,NO,11,Mixt 250F=Unlimited_call24H,2.0,0

In [3]:
columns_to_drop = ['user_id','ZONE1','ZONE2','MRG']
df = df.drop(columns_to_drop, axis=1)

In [4]:
df

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,54,On net 200F=Unlimited _call24H,8.0,0
1,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,1
2,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,17,On-net 1000F=10MilF;10d,1.0,0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,62,"Data:1000F=5GB,7d",11.0,0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,11,Mixt 250F=Unlimited_call24H,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154043,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,0
2154044,THIES,K > 24 month,6100.0,15.0,5800.0,1933.0,15.0,621.0,26.0,40.0,40.0,55,"Data: 200 F=100MB,24H",9.0,0
2154045,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
2154046,THIES,K > 24 month,10000.0,11.0,7120.0,2373.0,13.0,NaN,0.0,140.0,13.0,28,All-net 500F=2000F;5d,12.0,0
2154047,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,62,NaN,NaN,1

In [5]:
df['MONTANT'] = df['MONTANT'].fillna(df['MONTANT'].mean())
df['FREQUENCE_RECH'] = df['FREQUENCE_RECH'].fillna(df['FREQUENCE_RECH'].mean())
df['REVENUE'] = df['REVENUE'].fillna(df['REVENUE'].mode()[0])
df['ARPU_SEGMENT'] = df['ARPU_SEGMENT'].fillna(df['ARPU_SEGMENT'].median())
df['FREQUENCE'] = df['FREQUENCE'].fillna(df['FREQUENCE'].mean())
df['DATA_VOLUME'] = df['DATA_VOLUME'].fillna(df['DATA_VOLUME'].mode()[0])
df['ON_NET'] = df['ON_NET'].fillna(df['ON_NET'].mode()[0])
df['ORANGE'] = df['ORANGE'].fillna(df['ORANGE'].mode()[0])
df['TIGO'] = df['TIGO'].fillna(df['TIGO'].mode()[0])
df['FREQ_TOP_PACK'] = df['FREQ_TOP_PACK'].fillna(df['FREQ_TOP_PACK'].mean())

In [6]:
df.isnull().sum()

REGION            849299
TENURE                 0
MONTANT                0
FREQUENCE_RECH         0
REVENUE                0
ARPU_SEGMENT           0
FREQUENCE              0
DATA_VOLUME            0
ON_NET                 0
ORANGE                 0
TIGO                   0
REGULARITY             0
TOP_PACK          902594
FREQ_TOP_PACK          0
CHURN                  0
dtype: int64

In [7]:
df = df.dropna()
df.isnull().sum()

REGION            0
TENURE            0
MONTANT           0
FREQUENCE_RECH    0
REVENUE           0
ARPU_SEGMENT      0
FREQUENCE         0
DATA_VOLUME       0
ON_NET            0
ORANGE            0
TIGO              0
REGULARITY        0
TOP_PACK          0
FREQ_TOP_PACK     0
CHURN             0
dtype: int64

In [8]:
df.shape

(1000593, 15)

In [9]:
for i in df.columns:
  print(i,df[i].unique())

REGION ['FATICK' 'DAKAR' 'LOUGA' 'TAMBACOUNDA' 'KAOLACK' 'SAINT-LOUIS' 'THIES'
 'KAFFRINE' 'DIOURBEL' 'MATAM' 'KOLDA' 'ZIGUINCHOR' 'SEDHIOU' 'KEDOUGOU']
TENURE ['K > 24 month' 'H 15-18 month' 'I 18-21 month' 'F 9-12 month'
 'G 12-15 month' 'J 21-24 month' 'E 6-9 month' 'D 3-6 month']
MONTANT [ 4250. 13500.  1000. ... 18770.  8025.  2120.]
FREQUENCE_RECH [ 15.          1.         17.         16.          8.         27.
   7.         24.         46.         22.         12.          4.
  66.          2.         25.         63.         10.         11.
  19.         14.          6.         43.         37.         73.
  48.         29.         13.         40.          3.          5.
  31.          9.         20.         21.         18.         28.
  26.         41.         23.         47.         34.         61.
  45.         38.         70.         42.         50.         57.
  55.         44.         53.         65.         33.         72.
  35.         32.         59.         49.         62.         69.
  77.         11.5291199  36.         51.         52.         39.
  56.         64.         54.         30.         58.         60.
  67.         74.         92.         79.         68.         71.
  75.         76.         81.         89.         82.         93.
  84.         96.         78.         87.        106.        103.
  88.         86.         97.         80.         95.         85.
  91.         98.         83.         94.         90.        108.
  99.        105.        117.        115.        101.        133.
 109.        102.        131.        111.        113.        112.
 100.        110.        104.        107.        119.        118.
 114.        132.        121.       ]
REVENUE [ 4251. 13502.   985. ... 40251. 38534. 35633.]
ARPU_SEGMENT [ 1417.  4501.   328. ... 21317. 17816. 12845.]
FREQUENCE [17.         18.          1.         22.          8.         36.
  7.         29.         57.         27.         15.          6.
 64.         30.          2.         25.          5.          9.
 26.         68.         19.         12.         20.         42.
 43.         73.         37.         44.         39.          3.
 35.         14.         21.         11.         46.          4.
 10.         16.         28.         13.         32.         24.
 23.         47.         51.         48.         31.         38.
 41.         54.         63.         50.         59.         40.
 45.         56.         58.         33.         80.         65.
 67.         71.         34.         55.         53.         78.
 49.         52.         66.         62.         83.         74.
 82.         76.         81.         77.         75.         72.
 69.         60.         61.         85.         79.         86.
 13.97814146 89.         70.         84.         88.         91.
 90.         87.        ]
DATA_VOLUME [4.0000e+00 4.3804e+04 0.0000e+00 ... 4.6302e+04 1.9391e+04 3.3187e+04]
ON_NET [ 388.   41.   39. ... 9205. 9235. 7086.]
ORANGE [  46.  102.   24. ... 2782. 6109. 2826.]
TIGO [1.000e+00 2.000e+00 9.100e+01 ... 8.830e+02 1.434e+03 1.267e+03]
REGULARITY [54 62 11 55 45 59 58 20 53 43 40 35 57 29  5 61 42  9  4 34 37 32 51 46
 27 12 60 56 52 21 44 10 24 18 19 50 31 36 49 38 14 26 17 28 13  8 47 39
 33  3 16  7 23  1  2 25 41 48 15  6 30 22]
TOP_PACK ['On net 200F=Unlimited _call24H' 'Data:1000F=5GB,7d'
 'Mixt 250F=Unlimited_call24H' 'MIXT:500F= 2500F on net _2500F off net;2d'
 'All-net 500F=2000F;5d' 'On-net 500F_FNF;3d' 'Data: 100 F=40MB,24H'
 'MIXT: 200mnoff net _unl on net _5Go;30d' 'Jokko_Daily'
 'Data: 200 F=100MB,24H' 'Data:490F=1GB,7d' 'Twter_U2opia_Daily'
 'Data:1000F=2GB,30d' 'On-net 1000F=10MilF;10d' 'IVR Echat_Daily_50F'
 'Pilot_Youth4_490' 'On-net 500=4000,10d'
 'All-net 500F =2000F_AllNet_Unlimited' 'Twter_U2opia_Weekly'
 'Data:200F=Unlimited,24H' 'On-net 200F=60mn;1d' 'All-net 600F= 3000F ;5d'
 'All-net 1000F=(3000F On+3000F Off);5d' 'VAS(IVR_Radio_Daily)'
 'Data:3000F=10GB,30d' 'All-net 1000=5000;5d' 'Twter_U2opia_Monthly'
 'MIXT: 390F=04HOn-net_400SMS_400 Mo;4h\t' 'FNF2 ( JAPPANTE)'
 'Yewouleen_PKG' 'Data:150F=SPPackage1,24H' 'Data:500F=2GB,24H'
 'MROMO_TIMWES_RENEW' 'New_YAKALMA_4_ALL' 'Data:1500F=3GB,30D'
 'All-net 500F=4000F ; 5d' 'All-net 300=600;2d' 'Data:300F=100MB,2d'
 'Jokko_promo' 'Facebook_MIX_2D'
 'All-net 500F=1250F_AllNet_1250_Onnet;48h' '500=Unlimited3Day'
 'MIXT: 590F=02H_On-net_200SMS_200 Mo;24h\t\t'
 'On net 200F= 3000F_10Mo ;24H' '200=Unlimited1Day'
 'YMGX 100=1 hour FNF, 24H/1 month' 'SUPERMAGIK_5000'
 'Data:DailyCycle_Pilot_1.5GB'
 'MIXT:1000F=4250 Off net _ 4250F On net _100Mo; 5d'
 'Data:700F=SPPackage1,7d' 'Data: 490F=Night,00H-08H' 'Data:700F=1.5GB,7d'
 'Data:30Go_V 30_Days' 'Data:50F=30MB_24H' 'MROMO_TIMWES_OneDAY'
 'On-net 300F=1800F;3d' 'All-net 5000= 20000off+20000on;30d'
 'CVM_on-net bundle 500=5000' 'Internat: 1000F_Zone_3;24h\t\t'
 'Pilot_Youth1_290' 'Jokko_Monthly' 'EVC_500=2000F'
 'MIXT:10000F=10hAllnet_3Go_1h_Zone3;30d\t\t' 'DataPack_Incoming'
 'EVC_Jokko_Weekly' '200F=10mnOnNetValid1H' 'Data:1500F=SPPackage1,30d'
 'Internat: 1000F_Zone_1;24H\t\t' 'Jokko_Weekly' 'SUPERMAGIK_1000'
 'VAS(IVR_Radio_Monthly)' 'MIXT: 5000F=80Konnet_20Koffnet_250Mo;30d\t\t'
 'On-net 2000f_One_Month_100H; 30d' 'EVC_JOKKO30' 'TelmunCRBT_daily'
 'APANews_weekly' 'EVC_100Mo' 'Internat: 2000F_Zone_2;24H\t\t'
 'Data: 200F=1GB,24H' 'MIXT: 500F=75(SMS, ONNET, Mo)_1000FAllNet;24h\t\t'
 'Data_EVC_2Go24H' 'Mixt : 500F=2500Fonnet_2500Foffnet ;5d'
 'VAS(IVR_Radio_Weekly)' 'IVR Echat_Monthly_500F' 'CVM_200f=400MB'
 'FNF_Youth_ESN' 'FIFA_TS_daily' 'MIXT: 4900F= 10H on net_1,5Go ;30d'
 'IVR Echat_Weekly_200F' '1000=Unlimited7Day' 'Incoming_Bonus_woma'
 'CVM_100F_unlimited' 'CVM_100f=200 MB' 'pilot_offer6' '305155009'
 'Postpaid FORFAIT 10H Package' 'NEW_CLIR_PERMANENT_LIBERTE_MOBILE'
 '1500=Unlimited7Day' 'pack_chinguitel_24h' 'EVC_700Mo'
 'Data_Mifi_10Go_Monthly' 'CVM_100f=500 onNet' 'CVM_On-net 1300f=12500'
 'EVC_4900=12000F' 'CVM_On-net 400f=2200F' 'YMGX on-net 100=700F, 24H'
 'CVM_150F_unlimited' 'EVC_MEGA10000F' 'CVM_500f=2GB' 'SMS Max'
 '301765007' 'MegaChrono_3000F=12500F TOUS RESEAUX' 'pilot_offer4'
 'Go-NetPro-4 Go' 'GPRS_3000Equal10GPORTAL' 'ESN_POSTPAID_CLASSIC_RENT'
 'Data:New-GPRS_PKG_1500F' 'GPRS_BKG_1000F MIFI'
 'All-net 500= 4000off+4000on;24H' 'APANews_monthly'
 'NEW_CLIR_TEMPRESTRICTED_LIBERTE_MOBILE' 'EVC_1Go']
FREQ_TOP_PACK [  8.  11.   2.  18.   6.   9.  27.  21.   4.  42.  12.   1.  28.  10.
   3.   5.  13.  45.  41.  53.  31.  24.  19.  16.  15.  20.  14.  25.
   7.  43.  22.  17.  23.  82.  58.  35.  80.  32.  50.  48.  36.  55.
  47. 120.  40.  26.  37.  51.  88.  44.  33.  34.  71.  39.  68.  29.
  54.  62.  46.  38.  30.  69.  61.  52.  56.  74.  77.  65.  73.  60.
  72.  63.  64. 101.  66.  49.  79.  57.  78. 116.  67.  85. 125. 114.
 121.  98.  84.  75.  70. 111. 151.  89.  76. 110.  83.  59. 108.  93.
  87.  90.  99. 124.  86. 174. 126.  97. 105. 139. 102. 113.  96. 136.
 115. 119. 112. 122.  92. 185.  91. 109.  81. 103. 107.  95. 128. 316.
 100.  94. 123. 118. 156. 170. 143. 137. 294. 592. 104. 304. 141. 163.
 214. 132. 117. 106. 127. 130. 164. 188. 206. 131. 172. 134. 129. 135.
 308. 161. 144. 152. 148. 217. 215. 262. 133. 200. 145. 257. 258. 150.
 165. 433. 240. 160. 180. 190. 177. 274. 198. 153. 169. 414. 146. 168.
 147. 162. 278. 253. 201. 212. 239. 238. 171. 612. 713. 260. 413. 452.
 340. 511. 407. 187. 158. 286. 544. 227. 244. 149. 159. 320. 210. 142.
 140. 189. 207. 178. 195. 629. 235. 186. 624. 560. 209. 261. 183. 428.
 203. 138. 202. 254. 243. 350. 155. 166. 250. 154. 157. 237. 193. 197.]
CHURN [0 1]

In [10]:
for i in df.columns:
  if df[i].dtype == 'object':
    print(i,df[i].unique())

REGION ['FATICK' 'DAKAR' 'LOUGA' 'TAMBACOUNDA' 'KAOLACK' 'SAINT-LOUIS' 'THIES'
 'KAFFRINE' 'DIOURBEL' 'MATAM' 'KOLDA' 'ZIGUINCHOR' 'SEDHIOU' 'KEDOUGOU']
TENURE ['K > 24 month' 'H 15-18 month' 'I 18-21 month' 'F 9-12 month'
 'G 12-15 month' 'J 21-24 month' 'E 6-9 month' 'D 3-6 month']
TOP_PACK ['On net 200F=Unlimited _call24H' 'Data:1000F=5GB,7d'
 'Mixt 250F=Unlimited_call24H' 'MIXT:500F= 2500F on net _2500F off net;2d'
 'All-net 500F=2000F;5d' 'On-net 500F_FNF;3d' 'Data: 100 F=40MB,24H'
 'MIXT: 200mnoff net _unl on net _5Go;30d' 'Jokko_Daily'
 'Data: 200 F=100MB,24H' 'Data:490F=1GB,7d' 'Twter_U2opia_Daily'
 'Data:1000F=2GB,30d' 'On-net 1000F=10MilF;10d' 'IVR Echat_Daily_50F'
 'Pilot_Youth4_490' 'On-net 500=4000,10d'
 'All-net 500F =2000F_AllNet_Unlimited' 'Twter_U2opia_Weekly'
 'Data:200F=Unlimited,24H' 'On-net 200F=60mn;1d' 'All-net 600F= 3000F ;5d'
 'All-net 1000F=(3000F On+3000F Off);5d' 'VAS(IVR_Radio_Daily)'
 'Data:3000F=10GB,30d' 'All-net 1000=5000;5d' 'Twter_U2opia_Monthly'
 'MIXT: 390F=04HOn-net_400SMS_400 Mo;4h\t' 'FNF2 ( JAPPANTE)'
 'Yewouleen_PKG' 'Data:150F=SPPackage1,24H' 'Data:500F=2GB,24H'
 'MROMO_TIMWES_RENEW' 'New_YAKALMA_4_ALL' 'Data:1500F=3GB,30D'
 'All-net 500F=4000F ; 5d' 'All-net 300=600;2d' 'Data:300F=100MB,2d'
 'Jokko_promo' 'Facebook_MIX_2D'
 'All-net 500F=1250F_AllNet_1250_Onnet;48h' '500=Unlimited3Day'
 'MIXT: 590F=02H_On-net_200SMS_200 Mo;24h\t\t'
 'On net 200F= 3000F_10Mo ;24H' '200=Unlimited1Day'
 'YMGX 100=1 hour FNF, 24H/1 month' 'SUPERMAGIK_5000'
 'Data:DailyCycle_Pilot_1.5GB'
 'MIXT:1000F=4250 Off net _ 4250F On net _100Mo; 5d'
 'Data:700F=SPPackage1,7d' 'Data: 490F=Night,00H-08H' 'Data:700F=1.5GB,7d'
 'Data:30Go_V 30_Days' 'Data:50F=30MB_24H' 'MROMO_TIMWES_OneDAY'
 'On-net 300F=1800F;3d' 'All-net 5000= 20000off+20000on;30d'
 'CVM_on-net bundle 500=5000' 'Internat: 1000F_Zone_3;24h\t\t'
 'Pilot_Youth1_290' 'Jokko_Monthly' 'EVC_500=2000F'
 'MIXT:10000F=10hAllnet_3Go_1h_Zone3;30d\t\t' 'DataPack_Incoming'
 'EVC_Jokko_Weekly' '200F=10mnOnNetValid1H' 'Data:1500F=SPPackage1,30d'
 'Internat: 1000F_Zone_1;24H\t\t' 'Jokko_Weekly' 'SUPERMAGIK_1000'
 'VAS(IVR_Radio_Monthly)' 'MIXT: 5000F=80Konnet_20Koffnet_250Mo;30d\t\t'
 'On-net 2000f_One_Month_100H; 30d' 'EVC_JOKKO30' 'TelmunCRBT_daily'
 'APANews_weekly' 'EVC_100Mo' 'Internat: 2000F_Zone_2;24H\t\t'
 'Data: 200F=1GB,24H' 'MIXT: 500F=75(SMS, ONNET, Mo)_1000FAllNet;24h\t\t'
 'Data_EVC_2Go24H' 'Mixt : 500F=2500Fonnet_2500Foffnet ;5d'
 'VAS(IVR_Radio_Weekly)' 'IVR Echat_Monthly_500F' 'CVM_200f=400MB'
 'FNF_Youth_ESN' 'FIFA_TS_daily' 'MIXT: 4900F= 10H on net_1,5Go ;30d'
 'IVR Echat_Weekly_200F' '1000=Unlimited7Day' 'Incoming_Bonus_woma'
 'CVM_100F_unlimited' 'CVM_100f=200 MB' 'pilot_offer6' '305155009'
 'Postpaid FORFAIT 10H Package' 'NEW_CLIR_PERMANENT_LIBERTE_MOBILE'
 '1500=Unlimited7Day' 'pack_chinguitel_24h' 'EVC_700Mo'
 'Data_Mifi_10Go_Monthly' 'CVM_100f=500 onNet' 'CVM_On-net 1300f=12500'
 'EVC_4900=12000F' 'CVM_On-net 400f=2200F' 'YMGX on-net 100=700F, 24H'
 'CVM_150F_unlimited' 'EVC_MEGA10000F' 'CVM_500f=2GB' 'SMS Max'
 '301765007' 'MegaChrono_3000F=12500F TOUS RESEAUX' 'pilot_offer4'
 'Go-NetPro-4 Go' 'GPRS_3000Equal10GPORTAL' 'ESN_POSTPAID_CLASSIC_RENT'
 'Data:New-GPRS_PKG_1500F' 'GPRS_BKG_1000F MIFI'
 'All-net 500= 4000off+4000on;24H' 'APANews_monthly'
 'NEW_CLIR_TEMPRESTRICTED_LIBERTE_MOBILE' 'EVC_1Go']

In [11]:
pd.set_option('display.max_rows', None)
df['TOP_PACK'].value_counts()

TOP_PACK
All-net 500F=2000F;5d                                263214
On net 200F=Unlimited _call24H                       126299
Data:490F=1GB,7d                                      85890
Data: 100 F=40MB,24H                                  62576
Mixt 250F=Unlimited_call24H                           53890
MIXT:500F= 2500F on net _2500F off net;2d             53796
Data:1000F=2GB,30d                                    48374
All-net 500F =2000F_AllNet_Unlimited                  41717
Jokko_Daily                                           35084
Data: 200 F=100MB,24H                                 30108
On-net 500=4000,10d                                   21640
IVR Echat_Daily_50F                                   21384
MIXT: 200mnoff net _unl on net _5Go;30d               18082
On-net 1000F=10MilF;10d                               17090
On-net 500F_FNF;3d                                    16848
Data:200F=Unlimited,24H                               16575
VAS(IVR_Radio_Daily)                                  10870
Data:1000F=5GB,7d                                     10670
Twter_U2opia_Daily                                     9390
All-net 600F= 3000F ;5d                                8405
On-net 200F=60mn;1d                                    4738
Twter_U2opia_Weekly                                    4634
All-net 1000=5000;5d                                   4476
Data:500F=2GB,24H                                      3645
Data:3000F=10GB,30d                                    2749
MIXT: 390F=04HOn-net_400SMS_400 Mo;4h\t                2203
All-net 500F=1250F_AllNet_1250_Onnet;48h               2203
Data:300F=100MB,2d                                     1708
All-net 1000F=(3000F On+3000F Off);5d                  1705
Data:50F=30MB_24H                                      1645
MIXT: 590F=02H_On-net_200SMS_200 Mo;24h\t\t            1400
On net 200F= 3000F_10Mo ;24H                           1335
200=Unlimited1Day                                      1190
Data:DailyCycle_Pilot_1.5GB                            1188
All-net 300=600;2d                                     1139
Data:150F=SPPackage1,24H                               1007
Jokko_promo                                             776
Data:1500F=3GB,30D                                      768
Data:700F=1.5GB,7d                                      623
On-net 300F=1800F;3d                                    574
CVM_on-net bundle 500=5000                              525
Jokko_Monthly                                           495
Data:30Go_V 30_Days                                     471
Facebook_MIX_2D                                         467
MROMO_TIMWES_RENEW                                      465
MROMO_TIMWES_OneDAY                                     459
Pilot_Youth4_490                                        456
Yewouleen_PKG                                           419
Data:1500F=SPPackage1,30d                               399
YMGX 100=1 hour FNF, 24H/1 month                        384
Twter_U2opia_Monthly                                    361
Pilot_Youth1_290                                        333
New_YAKALMA_4_ALL                                       320
All-net 5000= 20000off+20000on;30d                      291
SUPERMAGIK_5000                                         270
Internat: 1000F_Zone_1;24H\t\t                          259
Data: 490F=Night,00H-08H                                240
FNF2 ( JAPPANTE)                                        206
SUPERMAGIK_1000                                         201
DataPack_Incoming                                       177
MIXT:1000F=4250 Off net _ 4250F On net _100Mo; 5d       158
On-net 2000f_One_Month_100H; 30d                        137
EVC_500=2000F                                           111
MIXT:10000F=10hAllnet_3Go_1h_Zone3;30d\t\t              110
MIXT: 5000F=80Konnet_20Koffnet_250Mo;30d\t\t             93
MIXT: 500F=75(SMS, ONNET, Mo)_1000FAllNet;24h\t\t        80
500=Unlimited3Day                                        77
Data:700F=SPPackage1,7d                                  76
FIFA_TS_daily                                            75
200F=10mnOnNetValid1H                                    74
Jokko_Weekly                                             71
TelmunCRBT_daily                                         71
All-net 500F=4000F ; 5d                                  61
MIXT: 4900F= 10H on net_1,5Go ;30d                       57
IVR Echat_Weekly_200F                                    55
VAS(IVR_Radio_Monthly)                                   55
Data: 200F=1GB,24H                                       47
Incoming_Bonus_woma                                      39
Internat: 2000F_Zone_2;24H\t\t                           38
Mixt : 500F=2500Fonnet_2500Foffnet ;5d                   38
Internat: 1000F_Zone_3;24h\t\t                           31
VAS(IVR_Radio_Weekly)                                    29
CVM_200f=400MB                                           28
EVC_100Mo                                                26
FNF_Youth_ESN                                            23
305155009                                                19
1000=Unlimited7Day                                       13
IVR Echat_Monthly_500F                                    9
EVC_JOKKO30                                               7
NEW_CLIR_PERMANENT_LIBERTE_MOBILE                         7
Data_EVC_2Go24H                                           6
CVM_100F_unlimited                                        6
CVM_On-net 400f=2200F                                     5
EVC_700Mo                                                 5
CVM_100f=200 MB                                           5
EVC_Jokko_Weekly                                          5
pilot_offer6                                              5
CVM_500f=2GB                                              3
pack_chinguitel_24h                                       3
CVM_On-net 1300f=12500                                    3
APANews_weekly                                            2
GPRS_3000Equal10GPORTAL                                   2
EVC_MEGA10000F                                            2
EVC_4900=12000F                                           2
pilot_offer4                                              1
GPRS_BKG_1000F MIFI                                       1
Data:New-GPRS_PKG_1500F                                   1
All-net 500= 4000off+4000on;24H                           1
APANews_monthly                                           1
ESN_POSTPAID_CLASSIC_RENT                                 1
NEW_CLIR_TEMPRESTRICTED_LIBERTE_MOBILE                    1
Go-NetPro-4 Go                                            1
Postpaid FORFAIT 10H Package                              1
MegaChrono_3000F=12500F TOUS RESEAUX                      1
301765007                                                 1
SMS Max                                                   1
CVM_150F_unlimited                                        1
YMGX on-net 100=700F, 24H                                 1
CVM_100f=500 onNet                                        1
Data_Mifi_10Go_Monthly                                    1
1500=Unlimited7Day                                        1
EVC_1Go                                                   1
Name: count, dtype: int64

In [12]:
def shorten_categories(categories, cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map

In [13]:
country_map = shorten_categories(df.TOP_PACK.value_counts(), 200)
df['TOP_PACK'] = df['TOP_PACK'].map(country_map)
df.TOP_PACK.value_counts()

C:\Users\AUVIGHA TECH\AppData\Local\Temp\ipykernel_12736\3402331890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TOP_PACK'] = df['TOP_PACK'].map(country_map)

TOP_PACK
All-net 500F=2000F;5d                          263214
On net 200F=Unlimited _call24H                 126299
Data:490F=1GB,7d                                85890
Data: 100 F=40MB,24H                            62576
Mixt 250F=Unlimited_call24H                     53890
MIXT:500F= 2500F on net _2500F off net;2d       53796
Data:1000F=2GB,30d                              48374
All-net 500F =2000F_AllNet_Unlimited            41717
Jokko_Daily                                     35084
Data: 200 F=100MB,24H                           30108
On-net 500=4000,10d                             21640
IVR Echat_Daily_50F                             21384
MIXT: 200mnoff net _unl on net _5Go;30d         18082
On-net 1000F=10MilF;10d                         17090
On-net 500F_FNF;3d                              16848
Data:200F=Unlimited,24H                         16575
VAS(IVR_Radio_Daily)                            10870
Data:1000F=5GB,7d                               10670
Twter_U2opia_Daily                               9390
All-net 600F= 3000F ;5d                          8405
On-net 200F=60mn;1d                              4738
Twter_U2opia_Weekly                              4634
All-net 1000=5000;5d                             4476
Data:500F=2GB,24H                                3645
Data:3000F=10GB,30d                              2749
MIXT: 390F=04HOn-net_400SMS_400 Mo;4h\t          2203
All-net 500F=1250F_AllNet_1250_Onnet;48h         2203
Other                                            1964
Data:300F=100MB,2d                               1708
All-net 1000F=(3000F On+3000F Off);5d            1705
Data:50F=30MB_24H                                1645
MIXT: 590F=02H_On-net_200SMS_200 Mo;24h\t\t      1400
On net 200F= 3000F_10Mo ;24H                     1335
200=Unlimited1Day                                1190
Data:DailyCycle_Pilot_1.5GB                      1188
All-net 300=600;2d                               1139
Data:150F=SPPackage1,24H                         1007
Jokko_promo                                       776
Data:1500F=3GB,30D                                768
Data:700F=1.5GB,7d                                623
On-net 300F=1800F;3d                              574
CVM_on-net bundle 500=5000                        525
Jokko_Monthly                                     495
Data:30Go_V 30_Days                               471
Facebook_MIX_2D                                   467
MROMO_TIMWES_RENEW                                465
MROMO_TIMWES_OneDAY                               459
Pilot_Youth4_490                                  456
Yewouleen_PKG                                     419
Data:1500F=SPPackage1,30d                         399
YMGX 100=1 hour FNF, 24H/1 month                  384
Twter_U2opia_Monthly                              361
Pilot_Youth1_290                                  333
New_YAKALMA_4_ALL                                 320
All-net 5000= 20000off+20000on;30d                291
SUPERMAGIK_5000                                   270
Internat: 1000F_Zone_1;24H\t\t                    259
Data: 490F=Night,00H-08H                          240
FNF2 ( JAPPANTE)                                  206
SUPERMAGIK_1000                                   201
Name: count, dtype: int64

In [14]:
print(df.columns)

Index(['REGION', 'TENURE', 'MONTANT', 'FREQUENCE_RECH', 'REVENUE',
       'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO',
       'REGULARITY', 'TOP_PACK', 'FREQ_TOP_PACK', 'CHURN'],
      dtype='object')

In [15]:
for i in df.columns:
  print(i,df[i].dtype)

REGION object
TENURE object
MONTANT float64
FREQUENCE_RECH float64
REVENUE float64
ARPU_SEGMENT float64
FREQUENCE float64
DATA_VOLUME float64
ON_NET float64
ORANGE float64
TIGO float64
REGULARITY int64
TOP_PACK object
FREQ_TOP_PACK float64
CHURN int64

In [16]:
from sklearn.preprocessing import LabelEncoder
Region = LabelEncoder()
df['REGION'] = Region.fit_transform(df['REGION'])
df["REGION"].unique()
from sklearn.preprocessing import LabelEncoder
tenure = LabelEncoder()
df['TENURE'] = tenure.fit_transform(df['TENURE'])
df["TENURE"].unique()
from sklearn.preprocessing import LabelEncoder
top = LabelEncoder()
df['TOP_PACK'] = top.fit_transform(df['TOP_PACK'])
df["TOP_PACK"].unique()

C:\Users\AUVIGHA TECH\AppData\Local\Temp\ipykernel_12736\340230691.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['REGION'] = Region.fit_transform(df['REGION'])
C:\Users\AUVIGHA TECH\AppData\Local\Temp\ipykernel_12736\340230691.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TENURE'] = tenure.fit_transform(df['TENURE'])
C:\Users\AUVIGHA TECH\AppData\Local\Temp\ipykernel_12736\340230691.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TOP_PACK'] = top.fit_transform(df['TOP_PACK'])

array([43, 14, 40, 37,  7, 48, 10, 34, 31, 11, 22, 54, 13, 44, 29, 51, 47,
        5, 56, 18, 45,  8,  2, 57, 19,  1, 55, 35, 27, 59, 17, 23, 39, 41,
       15, 49,  3, 20, 33, 28,  6, 36, 42,  0, 58, 53, 26, 12, 25, 21, 24,
       38, 46,  4,  9, 50, 32, 16, 30, 52])

In [17]:
df.to_csv('beforestandarization.csv')

In [18]:
df=pd.read_csv('beforestandarization.csv')

In [19]:
X = df.drop(['CHURN','Unnamed: 0'], axis=1)
y = df.CHURN

In [20]:
X.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,2,7,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,54,43,8.0
1,0,7,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,62,14,11.0
2,0,7,1000.0,1.0,985.0,328.0,1.0,0.0,39.0,24.0,1.0,11,40,2.0
3,7,7,8500.0,17.0,9000.0,3000.0,18.0,0.0,252.0,70.0,91.0,62,37,18.0
4,0,7,7000.0,16.0,7229.0,2410.0,22.0,1601.0,77.0,29.0,100.0,55,7,8.0

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.1, random_state=1234)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Initialize the Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=42)

# Fit the classifier to the training data
clf.fit(X_train, y_train)

# Predict the labels for the test set
y_pred = clf.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9870977413551869

In [23]:
X_train[:2]

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,REGULARITY,TOP_PACK,FREQ_TOP_PACK
705888,11,7,81464.0,19.0,10426.0,3475.0,40.0,0.0,841.0,830.0,7.0,62,37,8.0
69624,2,7,24500.0,40.0,25500.0,8500.0,42.0,0.0,157.0,427.0,97.0,62,7,51.0

In [24]:
import numpy as np
data = [
    ['DAKAR', 'K > 24 month', 14950.0, 44.0, 15150.0, 5050.0, 52.0, 0.0, 141.0, 316.0, 151.0, 59.0, 'All-net 500F=2000F;5d', 23.0]
]

data_np = np.array(data)

print(data_np)

[['DAKAR' 'K > 24 month' '14950.0' '44.0' '15150.0' '5050.0' '52.0' '0.0'
  '141.0' '316.0' '151.0' '59.0' 'All-net 500F=2000F;5d' '23.0']]

In [25]:
data_np[:, 0] = Region.transform(data_np[:,0])
data_np[:, 1] = tenure.transform(data_np[:,1])
data_np[:, -2] = top.transform(data_np[:,-2])

data_np

array([['0', '7', '14950.0', '44.0', '15150.0', '5050.0', '52.0', '0.0',
        '141.0', '316.0', '151.0', '59.0', '7', '23.0']], dtype='<U32')

In [26]:
data_np=data_np.astype(float)
data_np

array([[0.000e+00, 7.000e+00, 1.495e+04, 4.400e+01, 1.515e+04, 5.050e+03,
        5.200e+01, 0.000e+00, 1.410e+02, 3.160e+02, 1.510e+02, 5.900e+01,
        7.000e+00, 2.300e+01]])

In [27]:
data_pred = clf.predict(data_np)
data_pred

c:\Users\AUVIGHA TECH\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [28]:
import pickle

In [32]:
data = {"model": clf, "region": Region, "tenure": tenure,'top':top}
with open('churn.pkl', 'wb') as file:
    pickle.dump(data, file)

In [33]:
with open('churn.pkl', 'rb') as file:
    data = pickle.load(file)

regressor_loaded = data["model"]
Region = data["region"]
top = data["top"]

In [31]:
y_pred = regressor_loaded.predict(data_np)
y_pred

c:\Users\AUVIGHA TECH\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)